@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* INDENT FOR DATA PRIVACY */

.text-indent {
    text-indent: 2em;
}

/* TOOLTIP FOR ADDRESS IN REGISTER */

#tooltip-text {
    transition: opacity 0.2s ease-in-out;
}

 /* CALENDAR FOR REGISTER */

.flatpickr-calendar {
    border-color: #f97316; 
}
.flatpickr-months .flatpickr-month {
    color: #f97316; 
}
.flatpickr-day.today {
    background-color: #fde68a; 
    border-color: #f97316;
}
.flatpickr-day.selected, .flatpickr-day.selected:hover {
    background-color: #FF4802 !important; 
    color: white !important;
}
.flatpickr-weekday {
    color: #f97316; 
}
.flatpickr-day:hover {
    background-color: #fdba74; 
}

