@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* INDENT FOR DATA PRIVACY */

.text-indent {
    text-indent: 2em;
}

/* TOOLTIP FOR ADDRESS IN REGISTER */

#tooltip-text {
    transition: opacity 0.2s ease-in-out;
}

 /* CALENDAR FOR REGISTER */

.flatpickr-calendar {
    border-color: #f97316; 
}
.flatpickr-months .flatpickr-month {
    color: #f97316; 
}
.flatpickr-day.today {
    background-color: #fde68a; 
    border-color: #f97316;
}
.flatpickr-day.selected, .flatpickr-day.selected:hover {
    background-color: #FF4802 !important; 
    color: white !important;
}
.flatpickr-weekday {
    color: #f97316; 
}
.flatpickr-day:hover {
    background-color: #fdba74; 
}

/* HAMBURGER ICON */

@media (max-width: 900px) {
    .hidden-at-900 {
        display: none;
    }
}

@media (min-width: 901px) {
    .show-at-900 {
        display: block; 
    }
}

/*Start Animations*/
@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
/*End Animations*/
/*
-- Start BackGround Animation 
*/
div.area {
    z-index: 0;
}

/* Adjust the container to cover the whole body */
.circles {
    position: fixed; /* Fixed position so it stays in the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Make sure it doesn't interfere with user interactions */
    z-index: 0; /* Keeps it behind other content */
}

/* Style each circle */
.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #1aa514;
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

/* Keyframes for the animation */
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

:root {
  --light: #edf2f9;
  --dark: #152e4d;
  --darker: #12263f;
  /*  */
  --color-primary: var(--color-orange);
  --color-primary-50: var(--color-orange-50);
  --color-primary-100: var(--color-orange-100);
  --color-primary-light: var(--color-orange-light);
  --color-primary-lighter: var(--color-orange-lighter);
  --color-primary-dark: var(--color-orange-dark);
  --color-primary-darker: var(--color-orange-darker);
  /*  */
  --color-green: #1aa514;
  --color-green-50: #75c972;
  --color-green-100: #5ec05a;
  --color-green-light: #47b742;
  --color-green-lighter: #30ae2b;
  --color-green-dark: #179412;
  --color-green-darker: #148410;
  /*  */
  --color-orange: #ff4802;
  --color-orange-50: #fff4e6;
  --color-orange-100: #ffd6bf;
  --color-orange-light: #ff7d3a;
  --color-orange-lighter: #ff995e;
  --color-orange-dark: #e63e02;
  --color-orange-darker: #bf3202;
  /* */
  --color-blue: #2563eb;
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-light: #3b82f6;
  --color-blue-lighter: #60a5fa;
  --color-blue-dark: #1d4ed8;
  --color-blue-darker: #1e40af;
  /*  */
  --color-cyan: #0891b2;
  --color-cyan-50: #ecfeff;
  --color-cyan-100: #cffafe;
  --color-cyan-light: #06b6d4;
  --color-cyan-lighter: #22d3ee;
  --color-cyan-dark: #0e7490;
  --color-cyan-darker: #155e75;
  /*  */
  --color-teal: #0d9488;
  --color-teal-50: #f0fdfa;
  --color-teal-100: #ccfbf1;
  --color-teal-light: #14b8a6;
  --color-teal-lighter: #2dd4bf;
  --color-teal-dark: #0f766e;
  --color-teal-darker: #115e59;
  /*  */
  --color-fuchsia: #c026d3;
  --color-fuchsia-50: #fdf4ff;
  --color-fuchsia-100: #fae8ff;
  --color-fuchsia-light: #d946ef;
  --color-fuchsia-lighter: #e879f9;
  --color-fuchsia-dark: #a21caf;
  --color-fuchsia-darker: #86198f;
  /*  */
  --color-violet: #7c3aed;
  --color-violet-50: #f5f3ff;
  --color-violet-100: #ede9fe;
  --color-violet-light: #8b5cf6;
  --color-violet-lighter: #a78bfa;
  --color-violet-dark: #6d28d9;
  --color-violet-darker: #5b21b6;
}
